  
body  {
    padding-top: 5rem;
    
    
    
    
  }
  
  .Profile {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background: linear-gradient(to bottom, #d3a9e3 56%, gold 44%);
    margin: 0px;;
    padding: 0px;
    
  }


  h1 {
    text-align: center;
    font-size: 25px;
    color: #333;
  }
  h2{
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  img {
    margin-top: 30%;
    border-radius: 50%;
    border: 5px solid #ccc;
    
  }
  
  p {
    text-align: center;
    color: black;
    width: 500px;
    margin: 20px auto;
  }
  
  button.custom-button {
    margin-top: 20px;
    width: 200px; 
    height: 50px; 
    font-size: 18px; 
    padding: 10px 20px; 
    background-color:darkgreen;
    color:white;
    border-radius: 10px;
    margin-bottom: 50px;

  }
  
  
  .profile_stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 450px;
    
    
}
.profile_stats > div {
    width: 100px; 
    
}

  .profile_number{
    font-weight: bold;
  }
    

  